<!doctype html>
<html>
  <body style="margin: 0; padding: 0; background-color: #f4f4f4; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Arial, sans-serif">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td align="center">
          <table
            role="presentation"
            width="600"
            cellspacing="0"
            cellpadding="0"
            border="0"
            "
          >
            <tr>
              <td align="center">
                <div style="margin-top: 20px; display: flex; flex-direction: row; gap: 20px; align-items: center; justify-content: left">
                  <div
                    style="
                      display: flex;
                      font-size: 16px;
                      color: white;
                      background-color: #3b82f6;
                      padding: 5px;
                      width: 24px;
                      height: 24px;
                      align-items: center;
                      justify-content: center;
                      border-radius: 8px;
                      font-size: 18px;
                      font-weight: bold;
                    "
                  >
                    C
                  </div>
                  <h1 style="font-size: 24px">Calth</h1>
                </div>
                <div style="background-color: #ffffff; border-radius: 8px; padding: 20px">
                  <h1 style="margin: 0 0 16px 0; font-size: 24px; color: #333">Turno nuevo</h1>
                  <p style="margin: 30px 0 0 0; font-size: 16px; color: #555; text-align: left">
                    Hola {{userName}}, tenés un nuevo turno en <strong>{{companyName}}</strong>.
                  </p>
                  <ul
                    style="margin: 0; font-size: 16px; color: #555; list-style: none; padding: 20px 0; text-align: left"
                  >
                    <li style="margin: 5px 0"><strong>Título:</strong> {{title}}</li>
                    <li style="margin: 5px 0"><strong>Fecha:</strong> {{startDate}}</li>
                  </ul>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
